@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Syne:wght@400..800&display=swap');


*{
    /* border: 1px solid red; */
    box-sizing: border-box !important;
    list-style-type: none;
    text-decoration: none;
}

.sf{
    font-family: "Syne", sans-serif;
}

.cf{

    font-family: "Cinzel", sans-serif;
}

input,
select{
    font-size: 14px;
}


p{
    font-size: 13px;
    /* margin: 0; */
}

.navy{
    background-color: #202340;
}

.line-through{
    text-decoration: line-through;
}

.nt{
    color: #202340 ;
}


.pc{
    color: #38B6FF;
}

.pb{
    background-color: #38B6FF;
}


html {
    scroll-behavior: smooth;
}

button{
      font-size: 13px;
    cursor: pointer;
    font-family: "Montserrat";
}

body{
    font-family: "Manrope";
    overflow-x: hidden;
    background-color: #f1f1f16c;
}

.container{
    max-width: 84%;
    margin: 0 auto;
}


.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #38B6FF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 